<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="<%= url("/css/style.css")%>" rel="stylesheet" type="text/css" />
  <script src="<%= url("/js/main.js")%>" type="text/javascript" > </script>
  <title>edson</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
  <header class="container header">
    <nav class="menu">
    <img class="logoepson" src="photo/epson-logo.jpg" alt="logo Epson">
      <ul class="ull">
        <li> <a href="#avis">Découvrez les avis</a> </li>
        <li> <a href="#dotation">Découvrez les dotations</a> </li>
        <li> <a href="#avis">Laissez votre avis</a> </li>
      </ul>
    </nav>

    <div style="clear: both;"></div>

  </header>

  <section class="section-1">
    <article id="avis" class="avis">
      <h1>Nous recherchons</h1>
      <h2>350 avis</h2>
      <h1>clients</h1>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <p>Pour nos imprimantes EcoTank ET-2550, EcoTank ET-4550, WORKFORCE-2750, WORKFORCE-2760</p>
    </article>
  </section>
  <section id="dotation">
    <h1>Vos avis sont récompensés</h1>
    <article>
      <p>3 projecteurs par tirage au sort</p>
      <img src="/photo/projecteur-epson.jpeg" alt="projecteur epson">
    </article>
    <article>
      <p>350 ramettes de papier photo GLOSSY</p>
      <img src="photo/epson-ramette.jpg" alt="ramette epson">
    </article>
  </section>
  <section>
    <h1>Postez votre avis</h1>
    <img src="photo/etoiles.png" alt="etoiles">
    <p>sur le site sur lequel vous avez acheté votre imprimante : </p>
      <article>
        <h1>Gagnez immédiatement</h1>
        <img src="photo/epson-ramette.jpg" alt="ramette epson">
        <p>votre ramette de 100 feuilles de papier photo GLOSSY</p>
      </article>
      <article>
        <h1>et participez</h1>
        <img src="photo/projecteur-epson.jpeg" alt="projecteur epson">
        <p>au grand tirage au sort pour gagner l'un des <strong>3 projecteurs</strong> Epson EB-S04</p>
      </article>
  </section>
  <section>
    <h1>Parmi ces 4 modèles, sélectionnez votre imprimante.</h1>
    <article>
      <img src="photo/imprimante1.jpeg" alt="imprimante1">
      <p>EcoTank ET-2550</p>
      <p>valider</p>
    </article>
    <article>
      <img src="photo/imprimante1.jpeg" alt="imprimante2">
      <p>EcoTank ET-4550</p>
      <p>valider</p>
    </article>
    <article>
      <img src="photo/imprimante1.jpeg" alt="imprimante3">
      <p>WORKFORCE-2750</p>
      <p>valider</p>
    </article>
    <article>
      <img src="photo/imprimante1.jpeg" alt="imprimante4">
      <p>WORKFORCE-2760</p>
      <p>valider</p>
    </article>
  </section>
  <section>
    <h1>Sélectionnez, parmi ces 4 enseignes, le site sur lequel vous l'avez acheté.</h1>
    <article>
      <img src="photo/boulanger-logo.png" alt="boulanger">
      <p>boulanger</p>
      <p>valider</p>
    </article>
    <article>
      <img src="photo/boulanger-logo.png" alt="fnac">
      <p>fnac</p>
      <p>valider</p>
    </article>
    <article>
      <img src="photo/boulanger-logo.png" alt="darty">
      <p>darty</p>
      <p>valider</p>
    </article>
    <article>
      <img src="photo/boulanger-logo.png" alt="amazon">
      <p>amazon</p>
      <p>valider</p>
    </article>
  </section>
</body>
</html>
